:root{
    font:100 1em system-ui;
    /* base Colors */
    --primary-hue   : 200;
    --accent-hue    : calc(var(--primary-hue) + 100);
    --accent        : hsl(var(--accent-hue),50%,30%);
    --primary        : hsl(var(--primary-hue),50%,20%);

    --bg-light       : hsl(var(--primary-hue),25%,95%);
    --bg-mid        : hsl(var(--primary-hue),25%,90%);
    --bg-dark      : hsl(var(--primary-hue),25%,85%);
    /* text Colors */
    --text-dark     : hsl(var(--primary-hue) ,0%,15%);
    --text-muted    : hsl(var(--primary-hue) ,0%,25%);
    /* borders and shadows */
    --border        : var(--bg-light);

    --relief-btn    : inset 0px 2px 2px #ffff,
                      0px 4px 4px #0003,
                      0px 8px 8px #0001;
    --relief        : inset 0px 2px 2px #ffff,
                      0px 2px 4px #0003,
                      0px 4px 8px #0001;

    --relief-sunken : 1px 2px 4px #fffa,
                      inset 0px 2px 4px #0007,
                      inset 0px 4px 8px #0003;

    color: var(--text-muted);
} 


button, .btn{
    background: unset;
    border: unset;
    padding: 1em;
    margin: 0.25em;
    border-radius:0.25em;
    box-shadow: var(--relief-btn);
}

*{margin:0; padding: 0; box-sizing: border-box; font:var(--h1);}

body{
    background: var(--bg-dark);
    color: var(--text-muted);
    height: 98dvh;
}
header,section,footer{
    background: var(--bg-mid);
    margin:1rem auto;
    width: clamp(300px,90%,50em);
    padding: 0.5em;
    border-radius: 0.25rem;
}

nav{
    background: var(--bg-light);
    border-radius: 0.25em;
    box-shadow: var(--relief);
    margin: auto auto 1em auto ;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 1em;
}
nav li:first-child{
    margin-right: auto;
    color: var(--text-dark);
    font-weight: 600;
    padding: 1em;
}
nav li:last-child{
    margin: 0.5em 0.5em 0.5em auto;
    border-radius: 0.25em;
    box-shadow: var(--relief-btn);
    padding: 0.5em 1em;
}
header img{
    border-radius: 0.25em;
    object-fit: cover;
    object-position:center;
    width:100%;
    max-height:1200px;
}
nav a{ 
    color: var(--text-muted);
    text-decoration: none;
    height: 100%;
    width: 100%;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    flex-wrap: wrap;
    gap:1em;
}
.row>*,.col{
    flex: 1 0 15em;
}

#CTA a{
    color: var(--text-muted);
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: var(--text-dark);
}
.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-group *{
    flex: 0 1 7em;
    align-self: stretch;
}
a{transition: all 150ms}

a:hover, a:hover{text-decoration: underline;}

@media (max-width:57px){
    header img{ height: 20px; aspect-ratio: 3/4;}
}

@media ( max-width:620px){
    nav ul li{display: none;}
    nav ul li:first-child,nav ul li:last-child{display: inline-block;}
}
