

*{
    font-family: Cormorant SC;
    --nav-height: 60px;
    scroll-behavior: smooth;
    scroll-padding: var(--nav-height);
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    background: rgb(9, 34, 54);
}

.nav-links{
    padding-left: 30%;
    align-items: center;
    flex-shrink: 0;
    margin: calc(var(--nav-height)/3) auto 10px auto;
}

main{
    margin-top: var(--nav-height);
}

a:hover{
    background: #0003;
}

a{
    padding: 5px;
    text-decoration: none;
    color: rgba(21, 52, 59, 1);
    margin: 10px;
    letter-spacing: 8.2px;
    padding: 40 502 31 57;
}

header{
    position: fixed;
    top: 0;
    background-color: rgba(231, 208,186, 1);
    width: 100%;
    background-color: rgba(231, 208,¬ø 186, 1);
    font-weight: 900;
    font-size: 24px;
    height: var(--nav-height);
}

h1{
    position: relative;
}

h1::after{
    content: "";
    width: 100%;
    height: 10px;
    background-color: rgba(231, 208,186, 1);
    width: 100%;
}
.summary-card{
    padding: 30px;
    width: 60%;
    height: 90%;
    background: rgba(255, 255, 255, 0.141);border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
}

section{
    height: calc(100dvh - var(--nav-height));
    padding:40px;
    margin: auto 80px;
    display: flex;
    
}

h1{
    font-size: 72px;
    text-overflow: balance;
    color: rgba(231, 208,186, 1);
    line-height: 60px;
    letter-spacing:0.1em;
}
h3{
    color: rgba(231, 208,186, 1);
    text-overflow: balance;
}

button{
    border: unset;
    color: rgb(9, 34, 54);
    font-weight:700;
    background: rgba(231, 208,186, 1);
    padding: 20px 40px;
    border-radius: 15px;
    margin: 10px
}
image{
    height: 100px;
}